<footer class="footer_area" th:fragment="footer" xmlns:th="http://www.thymeleaf.org">

    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <p>Copyright @2020 All rights reserved : </p>
                </div>
                <div class="col-sm-8">
                    <nav class="footer_menu">
                        <ul>

                            <li><a th:href="@{/home}">Home</a></li>
                            <li><a th:href="@{/home/Room}">Accommodation</a></li>
                            <li><a th:href="@{/home/contactUs}">ContactUs</a></li>

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

</footer>