<!--<header class="header_area" style="background-color: white;" -->
<!--        th:fragment="header" xmlns:th="http://www.thymeleaf.org">-->
    <header class="header_area" th:fragment="header" style="background-color: white;"
            xmlns:th="http://www.thymeleaf.org">

    <div class="header_bottom">
        <div class="container">
            <div class="main_header">
                <div class="row">
                    <div class="col-md-3 col-sm-2">
                        <div class="logo">
                           <a th:href="@{/home}" th:src="@{/img/favicon.png}"></a>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-10 nav_area">
                        <nav class="main_menu">
                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a th:href="@{/home}">Home</a></li>
                                    <li><a th:href="@{/home/Room}">Accommodation</a></li>
                                    <li><a th:href="@{/home/Reservation}">Reservation</a></li>
                                    <li><a th:href="@{/home/contactUs}">ContactUs</a></li>
                                    <li><a th:href="@{/home/User}">Register</a></li>
                                    <li><a th:href="@{/home}">Sign In</a></li>
                                </ul>
                            </div>
                        </nav>

                    </div>
                </div>
            </div>
        </div>
    </div>

</header>