<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<!-- this is replaced with thymeleaf include -->
<header class="header_area" style="background-color: white;"
        th:replace="fragments/header :: header"> </header>

<div class="container" style="background-color: white; padding: 0;">

    <section>
        <div class="container">
            <div class="back_nav">
                <div class="col-sm-5">
                    <h2>Rooms</h2>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="hotel_reserve_box card">
            <h3>Edit Rooms</h3>
            <br>
            <form th:action="@{'/room/edit/' + ${room.roomId}}" th:object="${room}" method="post">
                <div class="form-group" >
                    <label for="roomId" class="control-label">Room ID</label>
                    <input id="roomId" class="form-control" th:field="*{roomId}" readonly="readonly"/>
                </div >
                <div class="form-group">
                    <label >Room/Suite Type</label> <select class="form-control"
                                                            th:field="*{roomType}" id="roomType">
                    <option value="0" selected>Select Room/Suite</option>
                    <option value="1">Standard</option>
                    <option value="2">Deluxe</option>
                    <option value="3">Superior Deluxe</option>
                    <option value="4">Premier Deluxe</option>
                    <option value="5">Executive Suite</option>
                    <option value="6">Junior Suite</option>
                    <option value="7">Honeymoon Suite</option>
                </select>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('roomNumber')}? 'has-error':''">
                    <label for="roomNumber" class="control-label">Room Number</label>
                    <input id="roomNumber" class="form-control" th:field="*{roomNumber}" />
                </div>

                <div class="form-group">
                    <label>Room Status</label>
                    <select class="form-control" name="roomStatus">
                        <option th:each="statusOpt : ${T(edu.miu.cs.cs425.seniorproject.hotelguestmanagementsystem.model.Status).values()}"
                                th:value="${statusOpt}" th:text="${statusOpt}"></option>
                    </select>
                </div>

                <br>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
<br>

<!-- this is replaced with thymeleaf include -->
<footer class="footer_area" th:replace="fragments/footer :: footer"></footer>

​​
<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="js/bootstrap.min.js"></script>
​
<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>
<script type="text/javascript" src="../static/js/script.js"></script>

</body>
</html>