<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

	<!-- this is replaced with thymeleaf include -->
	<header class="header_area" style="background-color: white;"
		th:replace="fragments/header :: header"></header>

	<div class="container" style="background-color: white; padding: 0;">

		<section class="breadcrumb_area">
			<div class="container">

				<div class="back_nav">
					<div class="col-sm-5">
						<h2>Facilities and Services</h2>
					</div>
				</div>
			</div>
		</section>

		<section class="section-padding">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section_heading">
							<h1>OUR FACILITIES AND SERVICES</h1>
						</div>
					</div>
				</div>
				<div class="row">
					<div>
						<div class="col-md-4 col-sm-6">
							<div class="col-xs-12 fix_p_r">
								<div class="faci-item card" style="padding: 10px;">
									<h3>FOR YOUR SAFETY</h3>
									<img src="img/safty.jpg" alt=""
										style="width: 100%; height: 250px; padding-bottom: 10px;">

									<p>With an extensive security system and 24-hour patrols,
										your safety is our priority.</p>

									<span
										style="float: right; font-size: 1.6rem; font-weight: bold; padding: 10px;"><span
										class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a
										href="">Find out</a></span>
								</div>

							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="col-xs-12 fix_p_r">
								<div class="faci-item card" style="padding: 10px;">
									<h3>PARKING & TAXI SERVICES</h3>
									<img src="img/parking.jpg" alt=""
										style="width: 100%; height: 250px; padding-bottom: 10px;">

									<p>Getting around is hassle-free parking, valet and
										limousine services available at your convenience</p>

									<span
										style="float: right; font-size: 1.6rem; font-weight: bold; padding: 10px;"><span
										class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a
										href="">Find out</a></span>
								</div>

							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="col-xs-12 fix_p_r">
								<div class="faci-item card" style="padding: 10px;">
									<h3>INDOOR GYM</h3>
									<img src="img/gym.jpg" alt=""
										style="width: 100%; height: 250px; padding-bottom: 10px;">

									<p>Work out in modern comfort with our state-of-the-art
										equipment and facilities at our indoor gym.</p>

									<span
										style="float: right; font-size: 1.6rem; font-weight: bold; padding: 10px;"><span
										class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a
										href="">Find out</a></span>
								</div>

							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="col-xs-12 fix_p_r">
								<div class="faci-item card" style="padding: 10px;">
									<h3>OUTDOOR POOL</h3>
									<img src="img/pool.jpg" alt=""
										style="width: 100%; height: 250px; padding-bottom: 10px;">

									<p>Enjoy a leisurely lap, soak in the tropical sun at our
										outdoor pool or relax at our shaded deck area.</p>

									<span
										style="float: right; font-size: 1.6rem; font-weight: bold; padding: 10px;"><span
										class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a
										href="">Find out</a></span>
								</div>

							</div>
						</div>

						<div class="col-md-4 col-sm-6">
							<div class="col-xs-12 fix_p_r">
								<div class="faci-item card" style="padding: 10px;">
									<h3>BUSINESS CENTRE</h3>
									<img src="img/business-center.jpg" alt=""
										style="width: 100%; height: 250px; padding-bottom: 10px;">

									<p>Work effortlessly in a dedicated business area with full
										office facilities and secretarial support.</p>

									<span
										style="float: right; font-size: 1.6rem; font-weight: bold; padding: 10px;"><span
										class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a
										href="">Find out</a></span>
								</div>

							</div>
						</div>

						<div class="col-md-4 col-sm-6">
							<div class="col-xs-12 fix_p_r">
								<div class="faci-item card" style="padding: 10px;">
									<h3>MEETING ROOMS</h3>
									<img src="img/meeting.jpg" alt=""
										style="width: 100%; height: 250px; padding-bottom: 10px;">

									<p>Lotus Hotel is fully equipped with state-of-the-art
										facilities to handle business conferences, meetings and
										weddings.</p>

									<span
										style="float: right; font-size: 1.6rem; font-weight: bold; padding: 10px;"><span
										class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a
										href="">Find out</a></span>
								</div>

							</div>
						</div>

					</div>

				</div>
			</div>
		</section>

	</div>

	<!-- this is replaced with thymeleaf include -->
	<footer class="footer_area" th:replace="fragments/footer :: footer"></footer>

	​​
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>