<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
	<script>
		$(function () {
			$("#datepicker").datepicker({dateFormat: 'yy-mm-dd'}).val();
			$('#datetimepicker').data("DateTimePicker").FUNCTION();
		});
	</script>
</head>

<body>

	<!-- this is replaced with thymeleaf include -->
	<header class="header_area" style="background-color: white;"
		th:replace="fragments/header :: header"> </header>

	<div class="container" style="background-color: white; padding: 0;">

		<section>
			<div class="container">
				<div class="back_nav">
					<div class="col-sm-5">
						<h2>Check Price</h2>
					</div>
				</div>
			</div>
		</section>

		<div class="container">
			<div class="hotel_reserve_box card">
				<h3>Hotel Reservation Form</h3>
				<br>
				<form th:action="@{/checkRooms}" th:object="${reservationDto}" method="post">
<!--					<form th:action="@{/signup}" th:object="${user}" method="post">-->
					<div class="form-group">
						<label>Room/Suite Type</label>
						<select class="form-control" id="room_type" onchange="finalCost()" th:field="*{roomType}">
							<option th:each="roomType, ite : ${roomTypes}" th:text="${roomType.getType()}" th:value="${roomType.getType()}"></option>
						</select>
					</div>
					<div class="form-group" >
						<label>Number of room/suite</label> <select class="form-control"
							id="room_number" onchange="finalCost()" th:field="*{numberOfRooms}">
							<option value="0">0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
						</select>
					</div>
					<div class="form-group">
						<label>Number of persons</label> <select class="form-control"
							id="person_number" onchange="finalCost()">
							<option value="0">0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
						</select>
					</div>
					<div class="form-group">
						<label>Number of children</label> <select class="form-control"
							id="child_number" onchange="finalCost()">
							<option value="0">0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
						</select>
					</div>
					<div class="form-group">
						<label>Restaurant facilities?</label> <select class="form-control"
							id="res_facilities" onchange="finalCost();">
							<option value="0" selected>Do you want restaurant
								facilities?</option>
							<option value="2">Yes</option>
							<option value="0">No</option>
						</select>
					</div>
					<div class="form-group">
						<label for="datepicker">Check In Date</label>
						<input type="date" id="datepicker" th:field="*{checkInDate}" class="form-control" required>
					</div>
					<div class="form-group">
						<label for="datepicker">Check Out Date</label>
						<input type="date" th:field="*{checkOutDate}" class="form-control" required>
					</div>
					<br>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
	</div>
	<br>

	<!-- this is replaced with thymeleaf include -->
	<footer class="footer_area" th:replace="fragments/footer :: footer"></footer>

	​​
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script src="js/bootstrap.min.js"></script>
	​
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>
	<script type="text/javascript" src="js/script.js"></script>

	<script type="text/javascript">
		function finalCost() {
			var roomType = document.getElementById("room_type").value;
			var roomNum = document.getElementById("room_number").value;
			var personNum = document.getElementById("person_number").value;
			var childNum = document.getElementById("child_number").value;
			var resFacilities = document.getElementById("res_facilities").value;

			var total = (parseInt(roomType) * 10) + ((roomNum) * 2)
					+ ((personNum) * 3) + ((childNum) * 2)
					+ ((resFacilities) * 5)

			document.getElementById("result").innerHTML = total;
		}
		(function () {
			'use strict';
			window.addEventListener('load', function () {
				// Fetch all the forms we want to apply custom Bootstrap validation styles to
				var forms = document.getElementsByClassName('needs-validation');
				// Loop over them and prevent submission
				var validation = Array.prototype.filter.call(forms, function (form) {
					form.addEventListener('submit', function (event) {
						if (form.checkValidity() === false) {
							event.preventDefault();
							event.stopPropagation();
						}
						form.classList.add('was-validated');
					}, false);
				});
			}, false);
		})();
	</script>
</body>
</html>