<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
</head>
<body>
	<footer class="footer_area" th:fragment="footer">
		<div class="footer_bottom">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<p>© 2020 R Hotel. All rights reserved</p>
					</div>
					<div class="col-sm-8">
						<nav class="footer_menu">
							<ul>
								<li><a href="/home">Home</a></li>
								<li><a href="/room">Accommodation</a></li>
								<li><a href="/contactUs">ContactUs</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>
