<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>header</title>
</head>
<body>
	<header class="header_area" style="background-color: white;" th:fragment="header">
		<div class="header_bottom">
			<div class="container">
				<div class="main_header">
					<div class="row">
						<div class="col-md-3 col-sm-2">
							<div class="logo">
								<a href="index.html"><img src="img/favicon.png"
									alt="Site Logo"></a>
							</div>
						</div>
						<div class="col-md-9 col-sm-10 nav_area">
							<nav class="main_menu">
								<div class="navbar-collapse collapse">
									<ul class="nav navbar-nav navbar-right">
										<li><a href="/home">Home</a></li>
										<li><a href="/accommodation">Accommodation</a></li>
										<li><a href="/contactUs">ContactUs</a></li>
										<li><a href="/reservation">Reservation</a></li>
										<li class="nav-item dropdown">
											<a sec:authorize="hasRole('ADMIN')" class="nav-link dropdown-toggle" href="/room" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												Rooms
											</a>
											<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
												<li sec:authorize="hasAuthority('ADMIN')" class="dropdown-item"><a href="/room">add Room</a></li>
												<li class="dropdown-item"><a href="/roomList">view Rooms</a></li>
												<li class="dropdown-divider"></li>
												<li class="dropdown-submenu">
													<a  class="dropdown-item" tabindex="-1" href="">room types</a>
													<ul class="dropdown-menu">
														<li class="dropdown-item"><a tabindex="-1" href="/roomType">add room type</a></li>

														<li class="dropdown-item"><a href="/roomType/roomTypeList">view room types</a></li>

													</ul>
												</li>
											</ul>
										</li>
										<li> <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Sign Out</a></li>


                   <!-- | Logged user: <span sec:authentication="name"></span> |
                    Roles: <span sec:authentication="principal.authorities"></span> |-->



									</ul>
								</div>
							</nav>

						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

</body>
</html>